/* Using reset styles based on Josh W. Comeau's  (https://www.joshwcomeau.com/css/custom-css-reset/) and Andy Bell's (https: //andy-bell.co.uk/a-more-modern-css-reset/) Modern CSS Reset*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding and font styles */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* ====================================================================================*/

/* Custom properties */

:root {
  --color-primary-500: hsl(300, 69%, 71%);
  --color-primary-600: hsl(257, 40%, 66%);

  --color-accent-500: hsl(322, 100%, 49%);

  --color-neutral-500: hsl(0, 0%, 100%);

  --font-size-400: 12px;
  --font-size-500: 16px;
  --font-size-600: 24px;

  --font-weight-500: 400;
  --font-weight-600: 600;

}

@media (min-width: 1024px) {
  :root {
    --font-size-500: 18px;
    --font-size-600: 40px;
  }
}